html, body
{
	width: 100%;
	height: 100%;
	
	margin: 0;
	padding: 0;
}

.quest
{
	display: block;
	
	padding: 20px 0;
	
	text-align: center;
}

.answ
{
	list-style: none;
}

.answ li
{
	display: block;
	
	width: 100%;
	
	margin: 30px 0;
	
	text-align: center;
	
	cursor: pointer;
}

.sum
{
	list-style: none;
	
	margin-top: 50px;
}